.flex{
  display: flex;
  /*overflow: scroll;*/
}

* {
  box-sizing: border-box;
  font-family: poppins;
}

body {
  margin: 0;
}

.nav {
  box-shadow: 5px 1px 5px darkgrey;
  display: flex;
  height: 100px;
}

.nav img {
  max-width: 100%
}

.grid-intro {
  display: flex;
  flex-direction: column;
  display: hidden;
}

.grid-intro img {
  max-width: 80%;
  display: none;
  align-self: center;
}

.intro-text {
  text-align: left;
  padding: 0% 10%;
}

.intro-text h2 {
  font-weight: 600;
  margin: 0;
}

.intro-text p {
  padding-top: 1%;
  font-weight: 300;
  margin: 0;
  letter-spacing: -0.5px;
  line-height: 1em;
}

.cards {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  padding: 0% 1%;
  margin-top: 3%;
}

.cards > *{
  padding: 0 2%;
}

.cards .person {
  width: 100%;
}

.rating-reviews .stars {
  width: 15px;
}

.rating-reviews .rating {
  font-size: 15px;
  margin-left: 0.8%;
}

.country-info,
.reviews {
  font-size: 14px;
  color: grey;
}

.cards .title{
  font-size: 16px;
}

.cards .price{
  font-weight: 600;
}